* {
    font-family: "Courier New", monospace;
}
h1 {
    font-size: 4vmin;
    text-align: center;
    margin: 1vmin 0;
}
#board {
    width: 68vmin;
    height: 68vmin;
    padding: 3vmin 0 0 3vmin;
    border: solid black 0.5vmin;
    margin: 0 auto;
    background-color: rgb(207,207,207);
    border-radius: 2vmin;
}
.row {
    clear: both;
}
.cell {
    display: inline-block;
    float: left;
    width: 3vmin;
    height: 3vmin;
    padding: 0;
    border: solid transparent 0.5vmin;
    margin: 0;
    font-size: 3vmin;
    color: black;
    text-align: center;
}
.hole {
    border: solid 0.5vmin;
    border-radius: 2vmin;
}
.red {
    border-color: red;
}
.yellow {
    border-color: yellow;
}
.green {
    border-color: green;
}
.blue {
    border-color: blue;
}
.black {
    border-color: black;
}
.base {
    border: solid black 0.5vmin;
    border-radius: 1vmin;
}
.red.base {
    background-color: rgba(255, 0, 0, 0.25);
}
.yellow.base {
    background-color: rgba(255, 255, 0, 0.5);
}
.green.base {
    background-color: rgba(0, 255, 0, 0.5);
}
.blue.base {
    background-color: rgba(0, 0, 255, 0.25);
}
.enable {
    color: white;
    background-color: black;
    border-radius: 1vmin;
}
#gamelog {
    width: 71vmin;
    padding: 0.5vmin;
    margin: 1vmin auto;
    text-align: center;
    font-size: 2vmin;
    /*height: 5vmin;*/
    border: solid black 0.5vmin;
    border-radius: 2vmin;
    clear: both;
}
button {
    display: block;
    padding: 0.5vmin 2vmin;
    margin: 0 auto;
    text-align: center;
    font-size: 3vmin;
    color: white;
    background-color: #4CAF50; /* Green */
    border-radius: 2vmin;
}
footer {
    clear: both;
    margin: 2vmin auto;
    text-align: center;
}
#die {
    background-color: white;
    border: solid black 0.5vmin;
}
